.app-info-wrapper {
    pointer-events: none;
}

.app-info {
  pointer-events: all;
  position: fixed;
  top: 1rem;
  right: 3rem;
  border: 1px solid #ffffff;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-duration: 0.2s;
}

.app-info-modal {
  pointer-events: all;
  position: fixed !important;
  background: #00000083;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .app-info-window {
    pointer-events: all;
    position: relative;
    background: #ffffff;
    color: #000000;
    height: 28rem;
    width: 20rem;
    max-width: 80%;
    min-width: 280px;
    padding: 1.5rem;
    border-radius: 1rem;
    p {
      font-size: 16px;
    }

    h3 {
      color: #1dad00;
      margin-bottom: 2.5rem;
    }

    a {
      color: #1dad00;
      text-decoration: none;
      font-weight: bolder;
    }
  }
}

.app-info:hover {
  background-color: #ffffff;
  cursor: pointer;
  color: #1dad00;
}


